body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}
h2 {
    text-align: center;
    color: rgb(28, 28, 28);
}
.image {
    text-align: center;
}
.image img {
    border-radius: 3%;
    width: 180px;
    height: 180px;
}
p {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    color: rgb(59, 59, 59);
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(183, 115, 6);
}
#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin: 0 auto; 
    padding-top: 10px;
}
.projects {  
    font-size: 18px;
    margin: 15px;
    padding: 5px;
    width: 85px;
    text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.click a {
  display: inline-block;
  background-color: #410082; /* Nice blue color */
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  padding: 25px 45px;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.click a:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  background-color: #6f11d4; /* slightly darker blue on hover */
}

@media (min-width: 600px) {
 body {
 background-color: #cce3ef;
 }
 }
@media (max-width: 599px) {
 body {
 background-color: rgb(165, 212, 255);
 }
 }
